.header {
    .heading {
        font-weight: bold;
        background-image: linear-gradient(45deg, #1A2980 0%, #26D0CE 100%);
        background-clip: text;
        color: transparent;
        animation-name: heading-background-shift;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-direction: alternate;
        background-size: 200%;
        width: fit-content;

        &:hover {
            text-shadow: 0.25rem 0.25rem rgba(0,0,0,0.1);
        }
    }
}

@keyframes heading-background-shift {
    0% {
        background-position-x: left;
    }

    100% {
        background-position-x: right;
    }
}